.player-card {
    /* width: 240px; */
    height: 336px;
}

    .player-card__body {
        padding: 8px;
        height: 100%;

        position: relative;
    }

    .player-card__inner {
        display: flex;
        justify-content: space-around;
        align-items: stretch;

        position: absolute;
        top: 64px;
        right: 24px;
        bottom: 64px;
        left: 24px;
    }

    .player-card__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    .player-card__column--centered {
        justify-content: space-around;
    }

    .player-card__suit-icon {
        display: block;
        width: 30px;
        height: 30px;
    }

    .player-card__suit-icon--small {
        width: 15px;
        height: 15px;
    }

    .player-card__value {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        
        position: absolute;

        font-family: 'Crete Round', serif;
        font-size: 24px;
    }

    .player-card__value--top {
        top: 8px;
        left: 8px;
    }

    .player-card__value--bottom {
        bottom: 8px;
        right: 8px;

        transform: rotate(180deg);
    }